In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'id': list(range(1,8)), 
        'Name': ['John','Mike','Sally','Jane','Joe','Dan','Phil'],
        'Salary': [300,200,550,500,600,600,550],
        'manager_id': [3,3,4,7,7,3,None]}
df = pd.DataFrame(data)
df

   id   Name  Salary  manager_id
0   1   John     300         3.0
1   2   Mike     200         3.0
2   3  Sally     550         4.0
3   4   Jane     500         7.0
4   5    Joe     600         7.0
5   6    Dan     600         3.0
6   7   Phil     550         NaN

In [3]:
'''Q1a: Give the name of employees, whose salaries are greater than their immediate manager’s'''
# df[(df['Salary'] >= df['Salary'][6]) & (df['manager_id'] <= 7)]

for i in range(len(df)):
    a = df.iloc[i]
    if np.isnan(a['manager_id']):
        pass
    else:
        if a['Salary'] > df['Salary'][a['manager_id']-1]:
            print(f"Employee's salary greater than their immediate manager's: {a['Name']}")

Employee's salary greater than their immediate manager's: Sally
Employee's salary greater than their immediate manager's: Joe
Employee's salary greater than their immediate manager's: Dan

In [4]:
'''Q1b: What is the average salary of employees who do not manage anyone? In the sample above, 
that would be John, Mike, Joe and Dan, since they do not have anyone reporting to them?'''

m = df[np.isin(df['id'], df['manager_id'].tolist(), invert=True)]['Salary'].mean()
print(f"The average salary of employees who do not manage anyone is ${m}")

The average salary of employees who do not manage anyone is $425.0

In [5]:
'''Q2: Write a function ‘exists’ which takes a variable symbol v and returns whether v is defined.'''
# print(globals()['v'])

def exists(v):
    try: 
        return "v is defined"
    except (NameError, RuntimeError, TypeError):
        return "variable is undefined"

try:
    exists(w)
except:
    print("variable is undefined")

variable is undefined

In [6]:
'''Q3: Create a function to compute N layer of a Pascal Triangle.'''

def pascal(n):
    if n==0:
        return [1]
    elif n==1:
        return [1, 1]
    else:
        N = pascal(n-1)
        return [1] + [N[i] + N[i+1] for i in range(n-1)] + [1]


def pascal_triangle(n):
    res = []
    for i in range(n):
        print(pascal(i))
        res.append(pascal(i))
    return res
pascal_triangle(5)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [7]:
'''Q5: Assume you have a Python project, which source code is under a git repo folder
“my-python-project”. Write a program/script to produce the following statistics of this folder
a. How many python files: (done)
b. How many lines of code in total, how many lines of comment line (empty line doesn’t
count): (done)
c. How many functions is defined in total: (done)
d. How many lines of changes from the current version against HEAD~3
--> can use git command to check files changed, insertions. --> git log --numstat
e. Total folder size (in MB) per each of the subfolder (down to 2 level depth): ??? don't understand'''

import os, os.path

def folder_stats(file_path):
    n_p_f = 0
    n_fn = 0
    n_l = [0, 0, 0] # t, c, e
    for root, dirs, files in os.walk(file_path):
        for f_name in files:
            if ".py" in f_name:
                n_p_f+=1
                file = open(file_path+f_name)
                for line in file:
                    if line != "\n":
                        n_l[0]+=1
#                     if line == "\n":
#                         n_l[2]+=1
                    if "#" in line.replace(" ", "")[0]:
                        n_l[1]+=1
                    if "def " in line:
                        n_fn+=1
    
    return print(f"# of python files: {n_p_f}, total lines of code: {n_l[0]}, # of comments: {n_l[1]}, total functions: {n_fn}")

In [8]:
'''Q6: In a text file, give me total number of appearance of “date” within the text file The date
format can appears in either one (or multiple) formats shown below:
a. YYYY/MM/DD
b. MM/DD/YYYY
c. DD/MM/YYYY
d. DD (Jan/Feb/Mar/Apr/May/Jun/Jul/Aug/Sept/Oct/Nov/Dec) YYYY
Assuming the input is a text file and not the text data contained.'''

import dateparser

def datecount(txt):
    with open(txt, 'r') as file:
        data = file.read().splitlines()
    counter = 0
    for i in data:
        if dateparser.parse(i) is not None:
            counter+=1
    return counter

In [9]:
'''Q4: Using historical daily returns (Yahoo/Google Finance or any other market data
source), calculate VaR95% and CVaR95% of the portfolio as of 2016/12/31'''

import yfinance as yf

In [10]:
s_list = ['AAPL', 'IBM', 'GOOG', 'BP', 'XOM', 'COST', 'GS']
s_weights = np.array([0.15, 0.2, 0.2, 0.15, 0.1, 0.15, 0.05])
v = {}
for i in s_list:
    d = yf.download(tickers=i, start='2016-01-01', end='2016-12-31')
    d['avg'] = (d['High']+d['Low']+d['Open']+d['Close'])/4
    v[i] = d['avg']
p = pd.concat(v, axis=1)
p

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,AAPL,IBM,GOOG,BP,XOM,COST,GS
Date,,,,,,,
2015-12-31,26.507500,138.340004,764.055008,31.255000,77.832500,162.270000,181.077499
2016-01-04,25.958125,135.440002,740.039505,30.885000,77.340000,159.329998,175.969997
2016-01-05,26.045000,136.087502,744.917511,30.805000,77.592501,160.194996,175.305000
2016-01-06,25.218750,134.687500,737.429993,30.142500,77.084999,158.560001,170.567501
2016-01-07,24.480625,133.502499,728.565002,29.330000,76.545000,155.070004,166.097500
...,...,...,...,...,...,...,...
2016-12-23,29.013749,166.912502,790.207504,36.922500,90.769999,162.112499,240.329998
2016-12-27,29.254375,167.237499,791.936737,37.132500,90.817501,162.167500,241.624996
2016-12-28,29.281250,166.805000,789.044998,37.305000,90.587502,161.607502,242.320000
2016-12-29,29.168125,166.402504,782.742493,37.440001,90.269999,160.967499,239.160000
2016-12-30,29.068750,166.157501,776.940002,37.462501,90.250000,160.415001,238.964996

In [11]:
'''calculate VaR95% and CVaR95% of the portfolio as of 2016/12/31
b. Using expected mean, covariance matrix and parametric method, calculate VaR95%
and CVaR95%
c. Assume you can change weights, allow shorting but no leverage (i.e. sum of weights
equal 100%), and rebalance monthly. What is the optimal portfolio holding by end of
each month till end of 2016
Notes: If you have other assumption(s) please state clearly'''

# var95% and cvar95%
returns = p.pct_change()
returns.head()

,AAPL,IBM,GOOG,BP,XOM,COST,GS
Date,,,,,,,
2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-04,-0.020725,-0.020963,-0.031432,-0.011838,-0.006328,-0.018118,-0.028206
2016-01-05,0.003347,0.004781,0.006592,-0.002590,0.003265,0.005429,-0.003779
2016-01-06,-0.031724,-0.010288,-0.010051,-0.021506,-0.006541,-0.010206,-0.027024
2016-01-07,-0.029269,-0.008798,-0.012021,-0.026955,-0.007005,-0.022011,-0.026207

In [12]:
# Cov matrix
cov_matrix = returns.cov()
cov_matrix

          AAPL       IBM      GOOG        BP       XOM      COST        GS
AAPL  0.000156  0.000038  0.000060  0.000060  0.000024  0.000039  0.000056
IBM   0.000038  0.000121  0.000034  0.000076  0.000046  0.000027  0.000069
GOOG  0.000060  0.000034  0.000117  0.000031  0.000008  0.000040  0.000043
BP    0.000060  0.000076  0.000031  0.000304  0.000116  0.000023  0.000120
XOM   0.000024  0.000046  0.000008  0.000116  0.000090  0.000012  0.000051
COST  0.000039  0.000027  0.000040  0.000023  0.000012  0.000093  0.000042
GS    0.000056  0.000069  0.000043  0.000120  0.000051  0.000042  0.000203

In [13]:
# portfolio mean and sd
avg_returns = returns.mean()
port_mean = avg_returns.dot(s_weights)
port_mean

0.0005032659873458211

In [14]:
# portfolio sd
port_sd = np.sqrt(s_weights.T.dot(cov_matrix).dot(s_weights))
port_sd

0.007783090392130239

In [15]:
# Assuming Initial Investment is 1million
i_investment = 1000000

mean_investment = (1+port_mean) * i_investment
sd_investment = port_sd * i_investment

In [16]:
# finding VaR95%
clevel = 0.05

from scipy.stats import norm
cutoff = norm.ppf(clevel, mean_investment, sd_investment)
cutoff

987701.2215269592

In [17]:
var95 = i_investment - cutoff
print(f"With 95% confidence that the portfolio will no exceed losses greater than ${var95} in a day")

With 95% confidence that the portfolio will no exceed losses greater than $12298.778473040788 in a day

In [18]:
# the var95% over a year 253 days (approx. 1 year)
var_arr = []
for i in range(len(d)):
    var_arr.append(np.round(var95*np.sqrt(i), 2))
print(f"{i} day VaR95% confidence: {np.round(var_arr[len(d)-1])}")

252 day VaR95% confidence: 195237.0