In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'id': list(range(1,8)), 
        'Name': ['John','Mike','Sally','Jane','Joe','Dan','Phil'],
        'Salary': [300,200,550,500,600,600,550],
        'manager_id': [3,3,4,7,7,3,None]}
df = pd.DataFrame(data)
df

   id   Name  Salary  manager_id
0   1   John     300         3.0
1   2   Mike     200         3.0
2   3  Sally     550         4.0
3   4   Jane     500         7.0
4   5    Joe     600         7.0
5   6    Dan     600         3.0
6   7   Phil     550         NaN

In [3]:
'''Q1a: Give the name of employees, whose salaries are greater than their immediate manager’s'''
# df[(df['Salary'] >= df['Salary'][6]) & (df['manager_id'] <= 7)]

for i in range(len(df)):
    a = df.iloc[i]
    if np.isnan(a['manager_id']):
        pass
    else:
        if a['Salary'] > df['Salary'][a['manager_id']-1]:
            print(f"Employee's salary greater than their immediate manager's: {a['Name']}")

Employee's salary greater than their immediate manager's: Sally
Employee's salary greater than their immediate manager's: Joe
Employee's salary greater than their immediate manager's: Dan

In [4]:
'''Q1b: What is the average salary of employees who do not manage anyone? In the sample above, 
that would be John, Mike, Joe and Dan, since they do not have anyone reporting to them?'''

m = df[np.isin(df['id'], df['manager_id'].tolist(), invert=True)]['Salary'].mean()
print(f"The average salary of employees who do not manage anyone is ${m}")

The average salary of employees who do not manage anyone is $425.0

In [22]:
'''Q2: Write a function ‘exists’ which takes a variable symbol v and returns whether v is defined.'''
# print(globals()['v'])

def exists(v):
    try: 
        return "v is defined"
    except (NameError, RuntimeError, TypeError):
        return "variable is undefined"

try:
    exists(w)
except:
    print("variable is undefined")

v is undefined

In [56]:
'''Q3: Create a function to compute N layer of a Pascal Triangle.'''

def pascal(n):
    if n==0:
        return [1]
    elif n==1:
        return [1, 1]
    else:
        N = pascal(n-1)
        return [1] + [N[i] + N[i+1] for i in range(n-1)] + [1]


def pascal_triangle(n):
    res = []
    for i in range(n):
        print(pascal(i))
        res.append(pascal(i))
    return res
pascal_triangle(5)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [ ]:
'''Q4a: Using historical daily returns (Yahoo/Google Finance or any other market data
source), calculate VaR95% and CVaR95% of the portfolio as of 2016/12/31'''

from pandas_data

In [48]:
'''Q5: Assume you have a Python project, which source code is under a git repo folder
“my-python-project”. Write a program/script to produce the following statistics of this folder
a. How many python files: (done)
b. How many lines of code in total, how many lines of comment line (empty line doesn’t
count): (done)
c. How many functions is defined in total: (done)
d. How many lines of changes from the current version against HEAD~3
--> can use git command to check files changed, insertions. --> git log --numstat
e. Total folder size (in MB) per each of the subfolder (down to 2 level depth): ??? don't understand'''

import os, os.path

def folder_stats(file_path):
    n_p_f = 0
    n_fn = 0
    n_l = [0, 0, 0] # t, c, e
    for root, dirs, files in os.walk(file_path):
        for f_name in files:
            if ".py" in f_name:
                n_p_f+=1
                file = open(file_path+f_name)
                for line in file:
                    if line != "\n":
                        n_l[0]+=1
#                     if line == "\n":
#                         n_l[2]+=1
                    if "#" in line.replace(" ", "")[0]:
                        n_l[1]+=1
                    if "def " in line:
                        n_fn+=1
    
    return print(f"# of python files: {n_p_f}, total lines of code: {n_l[0]}, # of comments: {n_l[1]}, total functions: {n_fn}")

In [50]:
'''Q6: In a text file, give me total number of appearance of “date” within the text file The date
format can appears in either one (or multiple) formats shown below:
a. YYYY/MM/DD
b. MM/DD/YYYY
c. DD/MM/YYYY
d. DD (Jan/Feb/Mar/Apr/May/Jun/Jul/Aug/Sept/Oct/Nov/Dec) YYYY
Assuming the input is a text file and not the text data contained.'''

import dateparser

def datecount(txt):
    with open(txt, 'r') as file:
        data = file.read().splitlines()
    counter = 0
    for i in data:
        if dateparser.parse(i) is not None:
            counter+=1
    return counter