In [1]:
import pandas as pd
import numpy as np

In [10]:
data = {'id': list(range(1,8)), 
        'Name': ['John','Mike','Sally','Jane','Joe','Dan','Phil'],
        'Salary': [300,200,550,500,600,600,550],
        'manager_id': [3,3,4,7,7,3,None]}
df = pd.DataFrame(data)
df

   id   Name  Salary  manager_id
0   1   John     300         3.0
1   2   Mike     200         3.0
2   3  Sally     550         4.0
3   4   Jane     500         7.0
4   5    Joe     600         7.0
5   6    Dan     600         3.0
6   7   Phil     550         NaN

In [31]:
'''Q1a: Give the name of employees, whose salaries are greater than their immediate manager’s'''
# df[(df['Salary'] >= df['Salary'][6]) & (df['manager_id'] <= 7)]

for i in range(len(df)):
    a = df.iloc[i]
    if np.isnan(a['manager_id']):
        pass
    else:
        if a['Salary'] > df['Salary'][a['manager_id']-1]:
            print(f"Employee's salary greater than their immediate manager's: {a['Name']}")

Employee's salary greater than their immediate manager's: Sally
Employee's salary greater than their immediate manager's: Joe
Employee's salary greater than their immediate manager's: Dan

In [36]:
'''Q1b: What is the average salary of employees who do not manage anyone? In the sample above, 
that would be John, Mike, Joe and Dan, since they do not have anyone reporting to them?'''

m = df[np.isin(df['id'], df['manager_id'].tolist(), invert=True)]['Salary'].mean()
print(f"The average salary of employees who do not manage anyone is ${m}")

The average salary of employees who do not manage anyone is $425.0

In [ ]:
'''Q2: Write a function ‘exists’ which takes a variable symbol v and returns whether v is defined.'''